:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 5rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.calculator {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

input {
  border: 1px solid #3a3a3a;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-size: 1.1rem;
  outline: none;
  text-align: center;
  width: 100px;
}

input:disabled {
  background-color: #f0f0f0;
  font-weight: 600;
  border-color: #a3a3a3;
}

.operator {
  font-size: 1.8rem;
  font-weight: bold;
}

.console-info {
  margin-top: 2rem;
  color: #888;
  font-size: 0.9rem;
}
